/* Image banner section */

.banner {
  position: relative;
  overflow: hidden;
  border-radius: 1.5rem;
  margin-bottom: 5rem;
}

.banner__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner__media::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 100%);
}

.banner__media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner--small {
  min-height: 40rem;
}

.banner--medium {
  min-height: 50rem;
}

.banner--large {
  min-height: 60rem;
}

.banner__content {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  min-height: inherit;
  padding: 6rem 0;
}

.banner__content--middle-center {
  justify-content: center;
  text-align: center;
}

.banner__content--middle-left {
  justify-content: flex-start;
  text-align: left;
}

.banner__content--middle-right {
  justify-content: flex-end;
  text-align: right;
}

.banner__box {
  max-width: 80rem;
  color: white;
}

.banner__heading {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  line-height: 1.2;
}

.banner__text {
  font-size: 2rem;
  margin-bottom: 3rem;
  opacity: 0.95;
}

.banner__buttons {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

@media screen and (max-width: 749px) {
  .banner {
    border-radius: 1rem;
  }
  
  .banner--small,
  .banner--medium,
  .banner--large {
    min-height: 40rem;
  }
  
  .banner__heading {
    font-size: 3rem;
  }
  
  .banner__text {
    font-size: 1.6rem;
  }
  
  .banner__buttons {
    flex-direction: column;
  }
}
