/* Featured collection section styles */

.section {
  padding: 5rem 0;
}

.section-padding {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
  text-align: center;
}

.title.h0 {
  font-size: 4rem;
}

.title.h1 {
  font-size: 3rem;
}

.title.h2 {
  font-size: 2.4rem;
}

.product-grid {
  display: grid;
  gap: 2.5rem;
}

.grid--1-col-desktop {
  grid-template-columns: 1fr;
}

.grid--2-col-desktop {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-col-desktop {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-col-desktop {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-col-desktop {
  grid-template-columns: repeat(5, 1fr);
}

.collection__view-all {
  margin-top: 4rem;
}

.center {
  text-align: center;
}

@media screen and (max-width: 989px) {
  .grid--3-col-desktop,
  .grid--4-col-desktop,
  .grid--5-col-desktop {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 749px) {
  .section {
    padding: 3rem 0;
  }
  
  .title {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }
  
  .title.h0 {
    font-size: 3rem;
  }
  
  .title.h1 {
    font-size: 2.4rem;
  }
  
  .title.h2 {
    font-size: 2rem;
  }
  
  .grid--1-col-tablet-down {
    grid-template-columns: 1fr;
  }
  
  .grid--2-col-tablet-down {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .product-grid {
    gap: 1.5rem;
  }
}
